*.pyc
__pycache__
/.cache
/.coverage
/.coveragerc
/.idea
/dist/
/build/
*.egg-info
/htmlcov
/.tox
/docs/_build
docs/build
docs/source/requirement_coverage.rst
docs/source/requirement_coverage.yaml
pytest-report.html
