repos:
  - repo:  https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-builtins
        - flake8-comprehensions
        - flake8-docstrings
        - flake8-rst-docstrings
  - repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.800
    hooks:
    - id: mypy
      files: '\.py$'
      exclude: '^tests/.+$'
