repos:
  - repo:  https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-builtins
        - flake8-comprehensions
        - flake8-docstrings
        - flake8-rst-docstrings
        - pygments
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
    - id: mypy
      args: [--install-types, --non-interactive, --show-error-codes]
      files: '\.py$'
      exclude: '^tests/.+$'
