repos:
  - repo:  https://github.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-builtins
        - flake8-comprehensions
        - flake8-docstrings
        - flake8-rst-docstrings
        - pygments
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.800
    hooks:
    - id: mypy
