[run]
branch = False
# we can probably activate it once we have more coverage

[report]
fail_under = 94
omit =
    *mypy.py
exclude_lines =
    all: no cover
    if TYPE_CHECKING:
    # os-specific
    defensive code
    assert_never()
    # + <os>-only and <os>: no cover


[html]
title = e3 coverage report
