name: build

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ["3.13"]
        include:
          - os: ubuntu-latest
            python: "3.10"
          - os: ubuntu-latest
            python: "3.11"
          - os: ubuntu-latest
            python: "3.12"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: |
             python -m pip install -U pip
             python -m pip install tox
      - name: Set Windows environment (/tmp/Trash + Posix apps)
        run: |
             mkdir C:/tmp/Trash
             echo "$ENV:ProgramFiles/Git/usr/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        if: runner.os == 'Windows'
      - name: Run Tox on Linux
        # Pass the right version of Python to Tox, e.g. 311 for Python 3.11
        run: |
             pyversion="${{ matrix.python }}"
             tox -e py${pyversion/./}-xdist-cov
        if: runner.os == 'Linux'
      - name: Run Tox on Windows
        run: tox -e py-xdist-cov
        if: runner.os == 'Windows'

  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
           python-version: 3.13
      - name: Install Tox and any other packages
        run: |
             python -m pip install -U pip
             python -m pip install tox
      - name: Run Tox
        run: tox
        env:
            TOXENV: check

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
           python-version: 3.13
      - uses: pre-commit/action@v2.0.0
